<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; background-color: #111827;">
    <div>
        <port-card></port-card>
    </div>
    <div style="margin-top: 20px;"> 
        <h1 class="text-2xl font-bold tracking-tight text-white">Habilidades técnicas</h1>
    </div>
    <h5 class="mb-3 font-normal text-gray-400 dark:text-gray-200">
        Tengo conocimientos sobre lenguajes de programación como: Java, Python, C++ y C#
    </h5>
    <h5 class="mb-3 font-normal text-gray-400 dark:text-gray-200">
        Experiencia trabajando con distribuciones de Linux, específicamente Ubuntu </h5>
    <div style="margin-top: 20px;"> 
        <h1 class="text-2xl font-bold tracking-tight text-white">Habilidades blandas</h1>
    </div>
    <div>
    <h5 class="mb-3 font-normal text-gray-400 dark:text-gray-200">
        Soy una persona proactiva, con capacidad de trabajar en equipo y bajo presión.
    </h5>
    </div>
    <div style="margin-top: 20px;">
        <h1 class="text-2xl font-bold tracking-tight text-white">Proyectos</h1>
    </div>
    <div>
        <h5 class="mb-3 font-normal text-gray-400 dark:text-gray-200">
            Uno de los proyectos en los que he trabajado es una aplicación similar al juego fruit ninja,
        </h5>
        <h5 class="mb-3 font-normal text-gray-400 dark:text-gray-200">
            donde realice las físicas del juego. Link del proyecto: https://github.com/HiroshiGamma/FruitNinja
        </h5>
        </div>
</div>

<div style="background-color: #111827;">
    <div style="display: flex; align-items: flex-start;">
        <div style="flex: 1;">
            <h1 class="text-2xl font-bold tracking-tight text-white">Sobre mí</h1>
            <h5 class="mb-3 font-normal text-gray-400 dark:text-gray-200">
                Me llamo Axel Mondaca, empezé a estudiar Ingeniería Civil en Computación e Informática en la Universidad Católica del Norte en el año 2021.
                A inicios de 2022 entre a trabajar dentro de soporte DISC el cual es un área de la universidad que se encarga de dar soporte a los estudiantes y profesores de la universidad.
                Donde me especialice en las áreas de servidores, redes y mantención de software.
            </h5>
        </div>
        <div style="flex: 1;">
            <port-form></port-form>
            <port-button></port-button>
        </div>
    </div>
</div>